In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt
import plotly as plot

In [24]:
raw = pd.read_csv('raw_entries.csv', encoding='latin1')

In [25]:
valueCols = [p for p in raw.columns if "Points" in p]
pickCols = [p for p in raw.columns if "Points" not in p]

In [26]:
meltedPoints = pd.melt(raw, id_vars=['Name'], value_vars=valueCols)
meltedPicks = pd.melt(raw, id_vars=['Name'], value_vars=pickCols)
meltedPoints['bowl'] = meltedPoints.apply(lambda row: row.variable.replace(' Points',''), axis = 1)

In [27]:
picks = meltedPicks.merge(meltedPoints, left_on=['Name','variable'], right_on=['Name','bowl'])
picks.columns = ['Name','Bowl','Pick','remove1','Spread','remove2']
picks.drop(['remove1','remove2'], inplace=True, axis=1)

In [28]:
picks.head(10)

               Name          Bowl                    Pick  Spread
0      Carl Johnson  Bahamas Bowl       Toledo (Favorite)     5.0
1       Todd Graves  Bahamas Bowl       Toledo (Favorite)     7.0
2  Jack Saundercook  Bahamas Bowl       Toledo (Favorite)    11.0
3         Ethan Hsu  Bahamas Bowl       Toledo (Favorite)     3.0
4  Christopher Head  Bahamas Bowl       Toledo (Favorite)    14.0
5     Paddy O'Irish  Bahamas Bowl       Toledo (Favorite)    14.0
6   Michael Stanley  Bahamas Bowl  Middle Tennessee State    12.0
7   Craig Garbarini  Bahamas Bowl       Toledo (Favorite)    10.0
8       Tristan Lee  Bahamas Bowl       Toledo (Favorite)    10.0
9       Pete Fiutak  Bahamas Bowl       Toledo (Favorite)    17.0

In [31]:
picks = picks.fillna(7)

In [32]:
emails = pd.DataFrame(columns=['Name','Picks'])
for name in picks['Name'].unique():
    emailString = ''
    emailString = name+'\n'
    for index, row in picks[picks['Name'] == name].iterrows():
        emailString = emailString + '\n' + row['Bowl'] + ': ' + row['Pick'] + ' by ' + str(int(row['Spread']))
    emails = emails.append({'Name':name, 'Picks':emailString,}, ignore_index=True)

In [39]:
emails.head()

,Name,Picks,Email Address
0,Carl Johnson,Carl Johnson\n\nBahamas Bowl: Toledo (Favorite...,jiggabore@gmail.com
1,Todd Graves,Todd Graves\n\nBahamas Bowl: Toledo (Favorite)...,todd@starveddog.com
2,Jack Saundercook,Jack Saundercook\n\nBahamas Bowl: Toledo (Favo...,jacksaundercook@gmail.com
3,Ethan Hsu,Ethan Hsu\n\nBahamas Bowl: Toledo (Favorite) b...,ethanhsu4@gmail.com
4,Christopher Head,Christopher Head\n\nBahamas Bowl: Toledo (Favo...,cjhead35@msn.com

In [35]:
print(emails.iloc[0])

Name                                          Carl Johnson
Picks    Carl Johnson\n\nBahamas Bowl: Toledo (Favorite...
Name: 0, dtype: object

In [38]:
address = raw[['Name','Email Address']]
emails = emails.merge(address, on='Name')

In [42]:
emails.to_excel('mailmerge_picks.xlsx', engine='xlsxwriter')

# Name Switch

In [43]:
nameSwitch = pd.DataFrame(columns=['Name','New Name'])
for name in picks['Name'].unique():
    nameSwitch = nameSwitch.append({'Name':name, 'New Name': '---'}, ignore_index=True)
    
nameSwitch.to_csv('nameSwitch.csv', index=False)

In [44]:
picks.to_csv('picks.csv', index=False)